### Ramen Shop Sales Data

The name of the ramen shop has been anonymized for privacy purposes.

In [2]:
# Import the required libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
# Read the order history data
df = pd.read_csv('customers-items-export.csv')

print(df.shape)
# We drop these columns that we don't need for analysis
df.drop(columns=['Establishment_Name', 'POS_Station', 'Customer ID', 
                 'First_Name', 'Last_Name', 'Company_Name', 'Email', 
                 'Reference_ID', 'Sku', 'Sub_category', 'Class', 
                 'Return_Exchange_Reason', 'Discount_Amount', 
                 'Discount_Reason', 'Barcode', 
                 'Cost', 'Special_Request', 'Product_Price', 'Payment_Amount'], inplace=True)

(22323, 33)

/var/folders/2l/5z_t54nn2mgcnb_rlc4qxcr40000gn/T/ipykernel_47254/3499945959.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('customers-items-export.csv')

In [4]:
df.shape

(22323, 14)

In [5]:
df.head()

,Order_Number,Order_Type,Order_Date,Order_Sub_Total,Order_Sales_Tax,Order_Total,Payment_Type,Product_Name,Category,Exchange_Void_or_Return,Gross_Item_Price,Total_Sales_Price,Total_Product_Tax,Product_Quantity
0,185341,To Go,05/11/2023 03:21:18 PM,0.00,0.0,0.00,NaN,Smoked Karage,Ramen,0,0.00,0.00,0.00,1.0
1,185342,To Go,05/11/2023 03:23:14 PM,0.01,0.0,0.01,Credit,Smoked Karage,Ramen,0,0.00,0.00,0.00,1.0
2,185342,To Go,05/11/2023 03:23:14 PM,0.01,0.0,0.01,Credit,LOVE,Specials,0,0.01,0.01,0.00,1.0
3,185342,To Go,05/11/2023 03:23:14 PM,0.01,0.0,0.01,Credit,10 Indomitable Chicken Wing ICW,Appetizers,1,18.00,18.00,1.49,1.0
4,185369,To Go,05/11/2023 06:04:16 PM,0.00,0.0,0.00,NaN,Smoked Karage,Ramen,0,0.00,0.00,0.00,1.0

In [6]:
df.tail()

,Order_Number,Order_Type,Order_Date,Order_Sub_Total,Order_Sales_Tax,Order_Total,Payment_Type,Product_Name,Category,Exchange_Void_or_Return,Gross_Item_Price,Total_Sales_Price,Total_Product_Tax,Product_Quantity
22318,230856,Eat In,10/31/2023 08:00:39 PM,127.0,10.48,137.48,Credit,Classic Shoyu,Food,0,10.0,10.0,0.82,1.0
22319,230885,To Go,10/31/2023 08:45:12 PM,17.5,0.00,0.00,NaN,TO-GO,Food,0,0.0,0.0,0.00,1.0
22320,230885,To Go,10/31/2023 08:45:12 PM,17.5,0.00,0.00,NaN,Classic Shoyu,Food,0,16.0,10.0,1.32,1.0
22321,230885,To Go,10/31/2023 08:45:12 PM,17.5,0.00,0.00,NaN,Nori,Extras,0,0.5,0.5,0.04,1.0
22322,230885,To Go,10/31/2023 08:45:12 PM,17.5,0.00,0.00,NaN,BS & C Mix,Extras,0,1.0,1.0,0.08,1.0

In [7]:
df.describe()

,Order_Number,Order_Sub_Total,Order_Sales_Tax,Order_Total,Exchange_Void_or_Return,Gross_Item_Price,Total_Sales_Price,Total_Product_Tax,Product_Quantity
count,22323.000000,22323.000000,22323.000000,22323.000000,22323.000000,22323.000000,22323.000000,22323.000000,22323.000000
mean,210074.469471,37.054772,2.968230,38.779181,0.035434,10.427585,10.554211,0.884989,1.068808
std,12096.632548,29.548151,2.430112,31.725330,0.184879,8.175517,8.551853,0.732687,0.336416
min,185341.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,200156.000000,18.000000,1.400000,17.940000,0.000000,4.000000,4.500000,0.330000,1.000000
50%,209675.000000,32.000000,2.600000,33.560000,0.000000,10.000000,10.000000,0.820000,1.000000
75%,220213.500000,48.000000,3.880000,50.340000,0.000000,16.500000,14.500000,1.360000,1.000000
max,230885.000000,759.000000,62.620000,821.620000,1.000000,759.000000,759.000000,62.620000,10.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22323 entries, 0 to 22322
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order_Number             22323 non-null  int64
 1   Order_Type               22323 non-null  object
 2   Order_Date               22323 non-null  object
 3   Order_Sub_Total          22323 non-null  float64
 4   Order_Sales_Tax          22323 non-null  float64
 5   Order_Total              22323 non-null  float64
 6   Payment_Type             21336 non-null  object
 7   Product_Name             22323 non-null  object
 8   Category                 22250 non-null  object
 9   Exchange_Void_or_Return  22323 non-null  int64
 10  Gross_Item_Price         22323 non-null  float64
 11  Total_Sales_Price        22323 non-null  float64
 12  Total_Product_Tax        22323 non-null  float64
 13  Product_Quantity         22323 non-null  float64
dtypes: float64(7), int64(2), object(5)
memory usage: 2.4+ MB

In [9]:
for i in list(df.columns):
    print(i, end=', ')

Order_Number, Order_Type, Order_Date, Order_Sub_Total, Order_Sales_Tax, Order_Total, Payment_Type, Product_Name, Category, Exchange_Void_or_Return, Gross_Item_Price, Total_Sales_Price, Total_Product_Tax, Product_Quantity,

### Data Wrangling

##### First we find all missing data

In [10]:
df.isna().sum()

Order_Number                 0
Order_Type                   0
Order_Date                   0
Order_Sub_Total              0
Order_Sales_Tax              0
Order_Total                  0
Payment_Type               987
Product_Name                 0
Category                    73
Exchange_Void_or_Return      0
Gross_Item_Price             0
Total_Sales_Price            0
Total_Product_Tax            0
Product_Quantity             0
dtype: int64

We see that Payment_Type and Category have a lot of missing data. Let us investigate.

In [11]:
df.loc[df['Category'].isna()]

,Order_Number,Order_Type,Order_Date,Order_Sub_Total,Order_Sales_Tax,Order_Total,Payment_Type,Product_Name,Category,Exchange_Void_or_Return,Gross_Item_Price,Total_Sales_Price,Total_Product_Tax,Product_Quantity
63,185540,To Go,05/12/2023 04:33:36 PM,0.01,0.00,0.01,Credit,love,NaN,0,0.01,0.01,0.00,1.0
64,185547,To Go,05/12/2023 05:01:06 PM,0.01,0.00,0.01,Credit,test,NaN,0,0.01,0.01,0.00,1.0
65,185549,To Go,05/12/2023 05:06:32 PM,0.01,0.00,0.01,Credit,test,NaN,0,0.01,0.01,0.00,1.0
1099,190304,To Go,05/31/2023 07:10:02 PM,29.50,2.43,31.93,Credit,aji,NaN,0,1.00,1.00,0.08,1.0
1147,190501,To Go,06/01/2023 06:35:50 PM,33.50,2.76,36.26,Credit,aji,NaN,0,1.00,1.00,0.08,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17939,223061,Eat In,10/05/2023 08:27:18 PM,45.50,3.38,44.33,Credit,ajitama,NaN,0,1.00,1.00,0.08,1.0
19061,225301,To Go,10/13/2023 11:35:50 PM,12.00,0.99,12.99,Credit,a,NaN,0,6.00,12.00,0.99,2.0
19073,225309,To Go,10/13/2023 11:49:22 PM,6.00,0.50,6.50,Credit,a,NaN,0,6.00,6.00,0.49,1.0
19698,226601,Eat In,10/18/2023 06:10:02 PM,38.50,3.18,41.68,Credit,spicy on edamame,NaN,1,1.00,1.00,0.08,1.0
19903,227129,Eat In,10/20/2023 07:48:24 PM,44.50,3.67,48.17,Credit,Mixed Greens,NaN,0,5.00,5.00,0.41,1.0

We see that where there is missing data in the Category column, there is a payment type, which implies that there is an Order_Total. Thus, it would not make sense to drop these rows with missing values.

In [12]:
df.loc[df['Category'].isna(), 'Payment_Type'].value_counts()

Payment_Type
Credit                67
Uber Eats              2
Open Table Omakase     1
Name: count, dtype: int64

Whenever payment type  is NaN, this means that the customer did not pay out. Thus we cannot count this as a sale. We can verify this information seeing 'Exchange_Void_or_Return' for the Order_Totals that have a value greater than 0. If payment type is NaN and Order_Total is 0.00, there is no need to Void or Return.

In [13]:
df.loc[(df['Payment_Type'].isna()) & (df['Order_Total'] != 0.00)]

,Order_Number,Order_Type,Order_Date,Order_Sub_Total,Order_Sales_Tax,Order_Total,Payment_Type,Product_Name,Category,Exchange_Void_or_Return,Gross_Item_Price,Total_Sales_Price,Total_Product_Tax,Product_Quantity
3200,195823,To Go,06/23/2023 05:00:26 PM,19.0,1.57,20.57,NaN,Pickles,Food,1,2.5,2.5,0.21,1.0
3201,195823,To Go,06/23/2023 05:00:26 PM,19.0,1.57,20.57,NaN,Spicy,Food,1,16.5,16.5,1.36,1.0
8648,206755,To Go,08/06/2023 03:37:40 PM,31.0,2.56,33.56,NaN,Jiro,Online Food,1,14.5,14.5,1.20,1.0
8649,206755,To Go,08/06/2023 03:37:40 PM,31.0,2.56,33.56,NaN,Spicy,Online Food,1,16.5,16.5,1.36,1.0
12550,211772,To Go,08/22/2023 07:13:46 PM,33.0,2.72,35.72,NaN,Spicy,Online Food,1,16.5,16.5,1.36,1.0
12551,211772,To Go,08/22/2023 07:13:46 PM,33.0,2.72,35.72,NaN,Spicy,Online Food,1,16.5,16.5,1.36,1.0
13237,212858,To Go,08/26/2023 05:05:48 PM,44.0,3.63,47.63,NaN,Tare Don,Online Food,1,6.5,6.5,0.54,1.0
13238,212858,To Go,08/26/2023 05:05:48 PM,44.0,3.63,47.63,NaN,Wings (3 pc),Online Food,1,10.0,10.0,0.82,1.0
13239,212858,To Go,08/26/2023 05:05:48 PM,44.0,3.63,47.63,NaN,Jiro,Online Food,1,27.5,14.5,2.27,1.0
13240,212859,To Go,08/26/2023 05:06:35 PM,44.0,3.63,47.63,NaN,Tare Don,Online Food,1,6.5,6.5,0.54,1.0
13241,212859,To Go,08/26/2023 05:06:35 PM,44.0,3.63,47.63,NaN,Wings (3 pc),Online Food,1,10.0,10.0,0.82,1.0
13242,212859,To Go,08/26/2023 05:06:35 PM,44.0,3.63,47.63,NaN,Jiro,Online Food,1,27.5,14.5,2.27,1.0
13468,213146,To Go,08/27/2023 01:29:31 PM,31.5,2.60,34.10,NaN,Jiro,Online Food,1,16.0,14.5,1.32,1.0
13469,213146,To Go,08/27/2023 01:29:31 PM,31.5,2.60,34.10,NaN,Jiro,Online Food,1,15.5,14.5,1.28,1.0
14584,215176,To Go,09/03/2023 07:25:22 PM,45.0,3.71,48.71,NaN,Wings (3 pc),Online Food,1,10.0,10.0,0.82,1.0
14585,215176,To Go,09/03/2023 07:25:22 PM,45.0,3.71,48.71,NaN,Shoyu,Online Food,1,18.5,16.5,1.53,1.0
14586,215176,To Go,09/03/2023 07:25:22 PM,45.0,3.71,48.71,NaN,Shoyu,Online Food,1,16.5,16.5,1.36,1.0
14968,216240,To Go,09/08/2023 04:07:37 PM,44.5,3.67,48.17,NaN,Jiro,Online Food,1,15.5,14.5,1.28,1.0
14969,216240,To Go,09/08/2023 04:07:37 PM,44.5,3.67,48.17,NaN,Jiro,Online Food,1,16.5,14.5,1.36,1.0
14970,216240,To Go,09/08/2023 04:07:37 PM,44.5,3.67,48.17,NaN,Shoyu Jr,Online Food,1,8.0,8.0,0.66,1.0
14971,216240,To Go,09/08/2023 04:07:37 PM,44.5,3.67,48.17,NaN,Edamame,Online Food,1,4.5,4.5,0.37,1.0
16130,218744,To Go,09/17/2023 06:05:20 PM,16.5,1.36,17.86,NaN,Tare Don,Online Food,1,6.5,6.5,0.54,1.0
16131,218744,To Go,09/17/2023 06:05:20 PM,16.5,1.36,17.86,NaN,Classic Shoyu,Online Food,1,10.0,10.0,0.82,1.0
16135,218745,To Go,09/17/2023 06:05:52 PM,16.5,1.36,17.86,NaN,Tare Don,Online Food,1,6.5,6.5,0.54,1.0
16136,218745,To Go,09/17/2023 06:05:52 PM,16.5,1.36,17.86,NaN,Classic Shoyu,Online Food,1,10.0,10.0,0.82,1.0
16161,218798,To Go,09/17/2023 07:10:01 PM,29.0,2.39,31.39,NaN,Jiro,Online Food,1,14.5,14.5,1.20,1.0
16162,218798,To Go,09/17/2023 07:10:01 PM,29.0,2.39,31.39,NaN,Spicy,Online Food,1,14.5,14.5,1.20,1.0
16310,219204,To Go,09/19/2023 07:39:14 PM,12.0,0.99,12.99,NaN,Classic Shoyu,Online Food,1,12.0,10.0,0.99,1.0
16311,219205,To Go,09/19/2023 07:40:21 PM,12.0,0.99,12.99,NaN,Classic Shoyu,Online Food,1,12.0,10.0,0.99,1.0
16312,219207,To Go,09/19/2023 07:40:52 PM,12.0,0.99,12.99,NaN,Classic Shoyu,Online Food,1,12.0,10.0,0.99,1.0
16313,219208,To Go,09/19/2023 07:41:29 PM,12.0,0.99,12.99,NaN,Classic Shoyu,Online Food,1,12.0,10.0,0.99,1.0
16454,219540,To Go,09/21/2023 04:33:16 PM,18.0,1.49,19.49,NaN,Spicy,Online Food,1,18.0,14.5,1.49,1.0
17105,221159,To Go,09/28/2023 05:29:36 PM,50.5,4.17,54.67,NaN,Edamame,Online Food,1,5.5,4.5,0.45,1.0
17106,221159,To Go,09/28/2023 05:29:36 PM,50.5,4.17,54.67,NaN,Spicy,Online Food,1,17.5,29.0,2.89,2.0
17107,221159,To Go,09/28/2023 05:29:36 PM,50.5,4.17,54.67,NaN,Wings (3 pc),Online Food,1,10.0,10.0,0.82,1.0
19546,226211,To Go,10/16/2023 07:06:51 PM,61.5,5.07,66.57,NaN,Spicy,Online Food,1,15.0,14.5,1.24,1.0
19547,226211,To Go,10/16/2023 07:06:51 PM,61.5,5.07,66.57,NaN,Spicy,Online Food,1,14.5,14.5,1.20,1.0
19548,226211,To Go,10/16/2023 07:06:51 PM,61.5,5.07,66.57,NaN,Shoyu,Online Food,1,16.5,14.5,1.36,1.0
19549,226211,To Go,10/16/2023 07:06:51 PM,61.5,5.07,66.57,NaN,Shoyu,Online Food,1,15.5,14.5,1.28,1.0
19642,226440,To Go,10/17/2023 07:15:21 PM,14.5,1.20,15.70,NaN,Jiro,Online Food,1,14.5,14.5,1.20,1.0
19643,226441,To Go,10/17/2023 07:16:49 PM,14.5,1.20,15.70,NaN,Jiro,Online Food,1,14.5,14.5,1.20,1.0
19870,227042,To Go,10/20/2023 04:41:35 PM,14.5,1.20,15.70,NaN,Shoyu,Online Food,1,14.5,14.5,1.20,1.0
19872,227048,To Go,10/20/2023 04:48:13 PM,10.0,0.83,10.83,NaN,Classic Shoyu,Online Food,1,10.0,10.0,0.82,1.0
22218,230775,To Go,10/31/2023 06:04:53 PM,43.5,3.59,47.09,NaN,Edamame,Online Food,1,4.5,4.5,0.37,1.0
22219,230775,To Go,10/31/2023 06:04:53 PM,43.5,3.59,47.09,NaN,Wings (3 pc),Online Food,1,10.0,10.0,0.82,1.0
22220,230775,To Go,10/31/2023 06:04:53 PM,43.5,3.59,47.09,NaN,Shoyu,Online Food,1,14.5,14.5,1.20,1.0
22221,230775,To Go,10/31/2023 06:04:53 PM,43.5,3.59,47.09,NaN,Shoyu,Online Food,1,14.5,14.5,1.20,1.0
22222,230776,To Go,10/31/2023 06:05:23 PM,43.5,3.59,47.09,NaN,Edamame,Online Food,1,4.5,4.5,0.37,1.0
22223,230776,To Go,10/31/2023 06:05:23 PM,43.5,3.59,47.09,NaN,Wings (3 pc),Online Food,1,10.0,10.0,0.82,1.0
22224,230776,To Go,10/31/2023 06:05:23 PM,43.5,3.59,47.09,NaN,Shoyu,Online Food,1,14.5,14.5,1.20,1.0
22225,230776,To Go,10/31/2023 06:05:23 PM,43.5,3.59,47.09,NaN,Shoyu,Online Food,1,14.5,14.5,1.20,1.0
22226,230777,To Go,10/31/2023 06:06:15 PM,43.5,3.59,47.09,NaN,Edamame,Online Food,1,4.5,4.5,0.37,1.0
22227,230777,To Go,10/31/2023 06:06:15 PM,43.5,3.59,47.09,NaN,Wings (3 pc),Online Food,1,10.0,10.0,0.82,1.0
22228,230777,To Go,10/31/2023 06:06:15 PM,43.5,3.59,47.09,NaN,Shoyu,Online Food,1,14.5,14.5,1.20,1.0
22229,230777,To Go,10/31/2023 06:06:15 PM,43.5,3.59,47.09,NaN,Shoyu,Online Food,1,14.5,14.5,1.20,1.0

In [14]:
df.loc[(df['Payment_Type'].isna()) & (df['Order_Total'] == 0.00)]

,Order_Number,Order_Type,Order_Date,Order_Sub_Total,Order_Sales_Tax,Order_Total,Payment_Type,Product_Name,Category,Exchange_Void_or_Return,Gross_Item_Price,Total_Sales_Price,Total_Product_Tax,Product_Quantity
0,185341,To Go,05/11/2023 03:21:18 PM,0.0,0.0,0.0,NaN,Smoked Karage,Ramen,0,0.0,0.0,0.00,1.0
4,185369,To Go,05/11/2023 06:04:16 PM,0.0,0.0,0.0,NaN,Smoked Karage,Ramen,0,0.0,0.0,0.00,1.0
5,185369,To Go,05/11/2023 06:04:16 PM,0.0,0.0,0.0,NaN,Chicken Shoyu,Ramen,0,0.0,0.0,0.00,1.0
6,185372,To Go,05/11/2023 06:05:19 PM,0.0,0.0,0.0,NaN,Smoked Karage,Ramen,0,0.0,0.0,0.00,1.0
7,185372,To Go,05/11/2023 06:05:19 PM,0.0,0.0,0.0,NaN,Spicy Miso,Ramen,0,0.0,0.0,0.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22189,230711,Eat In,10/31/2023 02:53:51 PM,0.0,0.0,0.0,NaN,Tare Don,Food,1,6.5,6.5,0.54,1.0
22319,230885,To Go,10/31/2023 08:45:12 PM,17.5,0.0,0.0,NaN,TO-GO,Food,0,0.0,0.0,0.00,1.0
22320,230885,To Go,10/31/2023 08:45:12 PM,17.5,0.0,0.0,NaN,Classic Shoyu,Food,0,16.0,10.0,1.32,1.0
22321,230885,To Go,10/31/2023 08:45:12 PM,17.5,0.0,0.0,NaN,Nori,Extras,0,0.5,0.5,0.04,1.0
22322,230885,To Go,10/31/2023 08:45:12 PM,17.5,0.0,0.0,NaN,BS & C Mix,Extras,0,1.0,1.0,0.08,1.0

We should also drop rows if Exchange_Void_or_Return is 1 because it does not count as a sale. It also would not make sense to replace null values with mode/mean.

In [15]:
df['Exchange_Void_or_Return'].replace({1: None}, inplace=True)
df.dropna(subset=['Payment_Type', 'Exchange_Void_or_Return'], inplace=True)

We must now change Order_Date to datetime format.

In [16]:
pd.to_datetime(df['Order_Date'])

/var/folders/2l/5z_t54nn2mgcnb_rlc4qxcr40000gn/T/ipykernel_47254/953192751.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df['Order_Date'])

1       2023-05-11 15:23:14
2       2023-05-11 15:23:14
52      2023-05-11 20:28:52
53      2023-05-12 16:33:36
54      2023-05-12 16:33:36
                ...
22314   2023-10-31 20:27:55
22315   2023-10-31 20:33:09
22316   2023-10-31 20:33:09
22317   2023-10-31 20:33:09
22318   2023-10-31 20:00:39
Name: Order_Date, Length: 20937, dtype: datetime64[ns]

There is no reason to remove duplicates in this dataset in any of the columns, but below is a count of all duplicates in each column.

In [17]:
for i in df.columns:
    print(f'{i} :{df.duplicated(subset=[i]).sum()}')

Order_Number :12682
Order_Type :20932
Order_Date :12686
Order_Sub_Total :20669
Order_Sales_Tax :20527
Order_Total :20400
Payment_Type :20927
Product_Name :20685
Category :20924
Exchange_Void_or_Return :20936
Gross_Item_Price :20860
Total_Sales_Price :20865
Total_Product_Tax :20835
Product_Quantity :20928

### Do an intial statistical analysis of the dataset

In [18]:
# Pearson Correlation Coefficient between all numeric variables
# For all variables, high correlation will indicate a high linear best fit
df.corr(numeric_only=True)

,Order_Number,Order_Sub_Total,Order_Sales_Tax,Order_Total,Gross_Item_Price,Total_Sales_Price,Total_Product_Tax,Product_Quantity
Order_Number,1.000000,0.109331,0.109279,0.115764,-0.054513,-0.059415,-0.063433,-0.004082
Order_Sub_Total,0.109331,1.000000,0.992308,0.990638,0.219874,0.241737,0.240561,0.062207
Order_Sales_Tax,0.109279,0.992308,1.000000,0.998135,0.220779,0.241964,0.240666,0.060468
Order_Total,0.115764,0.990638,0.998135,1.000000,0.219286,0.239946,0.238562,0.059881
Gross_Item_Price,-0.054513,0.219874,0.220779,0.219286,1.000000,0.930654,0.936181,-0.071040
Total_Sales_Price,-0.059415,0.241737,0.241964,0.239946,0.930654,1.000000,0.987287,0.185540
Total_Product_Tax,-0.063433,0.240561,0.240666,0.238562,0.936181,0.987287,1.000000,0.174106
Product_Quantity,-0.004082,0.062207,0.060468,0.059881,-0.071040,0.185540,0.174106,1.000000